<form [formGroup]="appForm">
  <input [formControl]="firstName"/>

  <form [formGroup]="appForm2" onsubmit="alert('ok')">
    <input [formControl]="lastName"/>
    <app-custom-component [control]="test"/>
    <button [disabled]="appForm2.status !== 'VALID'" type="submit">submit form2</button>
  </form>
</form>

<div>Form1 status {{appForm.status}}</div>
<div>Form2 status {{appForm2.status}}</div>